#event-banner{
    margin-top: 150px;
    .event-title{
        font-family: 'nexonLv1-Bold';
        font-weight: bold;
        font-size: 30px;
        margin-left: 350px;
        margin-bottom: 30px;
    }
}