//mainslider의 내용 거의 그대로 사용함
.gs2-title{
    margin-top: 180px;
    margin-bottom: 40px;
}
.jangba{
    width: 100%;
    height: 35px;
    background-color: var(--white);
    border: 1px solid var(--white100);
    border-radius: 30px;
    margin: 18px 0;
}