.h1-center{
    font-family: 'nexonLv1-Bold';
    font-weight: bold;
    font-size: 30px;
}
.h1-center{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.category-buttons{
    display: flex;
    justify-content: center;
    button{
        background-color: white;
        font-family: 'nexonLv1-Bold';
        font-weight: bold;
        color: var(--black200);
        padding-bottom: 20px;
        padding-right: 20px;
        
    }
    margin-bottom: 20px;
}
