
.menu {
    display: flex;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    &.hideNav {
      transform: translateY(-100%);
    }
    
.hideNav {
    top: -5rem; /* 스크롤 내릴 때 네비게이션 바를 화면 밖으로 숨김 */
}

  }
.category{
    padding: 15px;
    .nav-title{
        color: var(--white);
    }
}
.category> a{
    font-family: 'nexonLv1-Bold';
    font-weight: bold;
    font-size: 18px;
}
.menuBox {
    z-index: 10;
    width: 100%;
    height: 400px;
    background-color: transparent;
}
.CloseBox{
    display: flex;
    background-color: var(--white);
    position: absolute;
    left:0px;
    box-sizing: border-box;
    padding: 40px;
    width: 100vw;
}

.new-list{    
    width: 100%;
    height: 400px;
    
}
.shopClose{
    margin-bottom: 10px;
}
.shopClose:nth-child(1){
    font-family: 'nexonLv1-Bold';
    font-weight: bold;
    margin-bottom: 20px;
}
.v-line {

    border-left : 1px solid var(--white100);
    margin-right: 40px;
    height : 500px;

  }

