.header-wrap{
    background-color: #6A6FB3;
    width: 375px;
    height: 50px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 10px 0;
    img{
        width: 375px;
        height: 50px;
    }
    z-index: 300;
}